# Modèles PyTorch
*.pt
*.pth
*.bin

# Modèles SafeTensors
*.safetensors

# Checkpoints d'entraînement
*.ckpt
*.onnx

# Dossiers de modèles
models/
checkpoints/

# Environnements virtuels
.venv/
venv/

# Fichiers temporaires
*.log
.DS_Store